# Production environment values for loco-core chart

agent:
  image:
    tag: sha-{{ requiredEnv "GH_SHA" }}

# Cert-manager configuration for production
certManager:
  issuer:
    email: {{ requiredEnv "CERT_MANAGER_EMAIL" }}

# Domain configuration for production
global:
  domain:
    apps:
      - onloco.app
      - onloco.build
    platform: loco.build

  cloudProvider:
    type: digitalocean
    annotations:
      service.beta.kubernetes.io/do-loadbalancer-type: "REGIONAL_NETWORK"

secrets:
  cloudflareToken: {{ requiredEnv "CLOUDFLARE_TOKEN" }}
env:
  LOG_LEVEL: {{ requiredEnv "LOG_LEVEL" }}
  CONTROL_PLANE_URL: https://api.loco.build
  AGENT_TOKEN: {{ requiredEnv "AGENT_TOKEN" | quote }}

gateway-helm:
  enabled: true
