# Production environment values for loco-core chart

ui:
  image:
    tag: sha-{{ .Env.GH_SHA }}

agent:
  image:
    tag: sha-{{ .Env.GH_SHA }}

# Cert-manager configuration for production
certManager:
  issuer:
    email: {{ requiredEnv "CERT_MANAGER_EMAIL" }}

# Domain configuration for production
global:
  domain:
    base: deploy-app.com
    wildcard: "*.deploy-app.com"
    ui: deploy-app.com

  cloudProvider:
    type: digitalocean
    annotations:
      service.beta.kubernetes.io/do-loadbalancer-type: "REGIONAL_NETWORK"

secrets:
  cloudflareToken: {{ requiredEnv "CLOUDFLARE_TOKEN" }}
env:
  LOG_LEVEL: {{ requiredEnv "LOG_LEVEL" }}

gateway-helm:
  enabled: true
