apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
    name: grafana
    namespace: {{ .Release.Namespace }}
spec:
    parentRefs:
        - name: eg
          namespace: {{ .Values.gatewayNamespace }}
    hostnames:
        - {{ .Values.global.domain.dashboards | quote }}
    rules:
        - backendRefs:
              - name: grafana
                port: 80
        - matches:
              - path:
                    type: PathPrefix
                    value: /
