version: 2
updates:
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: weekly
  - package-ecosystem: gomod
    directory: /api
    schedule:
      interval: weekly
  - package-ecosystem: gomod
    directory: /shared
    schedule:
      interval: weekly
