gatewayNamespace: loco-system

grafana:
  adminUser: admin
  adminPassword: {{ env "GRAFANA_ADMIN_PASSWORD" | default "admin" | quote }}

clickhouse:
  enabled: true
  defaultUser:
    password: ""

otel-col-deploy:
  config:
    exporters:
      clickhouse:
        ttl: 720h

obsProxy:
  enabled: true
  controlPlane:
    url: "http://loco-core-agent.loco-system.svc.cluster.local:8000"
