gatewayNamespace: loco-system

clickhouse:
  enabled: true
  defaultUser:
    password: ""

otel-col-deploy:
  config:
    exporters:
      clickhouse:
        ttl: 720h

obsProxy:
  enabled: true
  controlPlane:
    url: "http://loco-core-agent.loco-system.svc.cluster.local:8000"
