registry:
  pullSecretName: loco-registry
builds:
  pushSecretName: loco-registry-push
  insecureRegistry: true
  privateEgressCIDRs:
  {{- range exec "mise" (list "run" "--quiet" "cluster:build-egress") | trim | splitList " " }}
    - {{ . | quote }}
  {{- end }}
