.dot-grid {
	background-image: radial-gradient(rgba(0, 0, 0, 0.12) 1px, transparent 1px);
	background-size: 20px 20px;
	background-attachment: fixed;
}

.dark .dot-grid {
	background-image: radial-gradient(
		rgba(255, 255, 255, 0.2) 1px,
		transparent 1px
	);
}
