config:
    envoyGateway:
        logging:
            level: null
            default: info
        telemetry:
            metrics:
                prometheus:
                    disable: true
                sinks:
                    - type: OpenTelemetry
                      openTelemetry:
                          host: clickhouse-otel-deploy-opentelemetry-collector.observability.svc.cluster.local
                          port: 4317
                          protocol: grpc
