# daemonset.yaml
mode: daemonset

image:
    repository: otel/opentelemetry-collector-contrib
    tag: 0.138.0

# to resolve inside minikube; todo: can we remove this later?
hostNetwork: true
dnsPolicy: ClusterFirstWithHostNet

resources:
    limits:
        cpu: 250m
        memory: 512Mi

# Required to use the kubeletstats cpu/memory utilization metrics
clusterRole:
    create: true
    rules:
        - apiGroups:
              - ""
          resources:
              - nodes/proxy
              - nodes/stats
              - endpoints
              - services
              - pods
          verbs: ["get", "watch", "list"]

presets:
    logsCollection:
        enabled: true
    hostMetrics:
        enabled: true
    # Configures the Kubernetes Processor to add Kubernetes metadata.
    # Adds the k8sattributes processor to all the pipelines and adds the necessary rules to ClusterRole.
    # More Info: https://opentelemetry.io/docs/kubernetes/collector/components/#kubernetes-attributes-processor
    kubernetesAttributes:
        enabled: true
        # When enabled the processor will extra all labels for an associated pod and add them as resource attributes.
        # The label's exact name will be the key.
        extractAllPodLabels: true
        # When enabled the processor will extra all annotations for an associated pod and add them as resource attributes.
        # The annotation's exact name will be the key.
        extractAllPodAnnotations: true
    # Configures the collector to collect node, pod, and container metrics from the API server on a kubelet..
    # Adds the kubeletstats receiver to the metrics pipeline and adds the necessary rules to ClusterRole.
    # More Info: https://opentelemetry.io/docs/kubernetes/collector/components/#kubeletstats-receiver

config:
    receivers:
        # prometheus/hubble:
        #     config:
        #         scrape_configs:
        #             - job_name: "hubble"
        #               scrape_interval: 30s
        #               kubernetes_sd_configs:
        #                   - role: endpoints
        #                     namespaces:
        #                         names: ["kube-system"]
        #               relabel_configs:
        #                   - source_labels:
        #                         [
        #                             __meta_kubernetes_service_annotation_prometheus_io_scrape,
        #                         ]
        #                     action: keep
        #                     regex: true
        #                   - source_labels:
        #                         [
        #                             __address__,
        #                             __meta_kubernetes_service_annotation_prometheus_io_port,
        #                         ]
        #                     action: replace
        #                     target_label: __address__
        #                     regex: (.+)(?::\d+);(\d+)
        #                     replacement: $1:$2
        kubeletstats:
            collection_interval: 20s
            auth_type: "serviceAccount"
            endpoint: "https://${env:K8S_NODE_NAME}:10250"
            insecure_skip_verify: true
            node: "${env:K8S_NODE_NAME}"
            k8s_api_config:
                auth_type: serviceAccount
            # todo: maybe remove this later each interface will increase cardinality.
            collect_all_network_interfaces:
                pod: true
            metrics:
                k8s.pod.cpu_limit_utilization:
                    enabled: true
                k8s.pod.cpu_request_utilization:
                    enabled: true
                k8s.pod.memory_limit_utilization:
                    enabled: true
                k8s.pod.memory_request_utilization:
                    enabled: true
                k8s.pod.uptime:
                    enabled: true
                k8s.node.uptime:
                    enabled: true
                k8s.container.cpu_limit_utilization:
                    enabled: true
                k8s.container.cpu_request_utilization:
                    enabled: true
                k8s.container.memory_limit_utilization:
                    enabled: true
                k8s.container.memory_request_utilization:
                    enabled: true
                container.uptime:
                    enabled: true
                # todo: remove; below wont work w cilium. we can go back to kube-proxy
                k8s.node.network.io:
                    enabled: true
                k8s.pod.network.io:
                    enabled: true
    processors:
        batch:
            timeout: 1s
            send_batch_size: 100
        memory_limiter:
            check_interval: 1s
            limit_mib: 2048
            spike_limit_mib: 256
    exporters:
        clickhouse:
            endpoint: tcp://clickhouse-clickhouse.observability.svc.cluster.local:9000?dial_timeout=10s&compress=lz4&async_insert=1
            # ttl: 72h
            username: default
            password: "" # todo: remove hardcoding.
            traces_table_name: otel_traces
            logs_table_name: otel_logs
            create_schema: false
            timeout: 5s
            database: default
    service:
        pipelines:
            logs:
                exporters: [clickhouse]
                processors: [batch, memory_limiter]
            metrics:
                receivers: [kubeletstats]
                processors: [batch, memory_limiter]
                exporters: [clickhouse]
