---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - loco.loco.deploy-app.com
  resources:
  - locoresources
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - loco.loco.deploy-app.com
  resources:
  - locoresources/finalizers
  verbs:
  - update
- apiGroups:
  - loco.loco.deploy-app.com
  resources:
  - locoresources/status
  verbs:
  - get
  - patch
  - update
