apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
    name: {{ .Release.Name }}-api
    namespace: {{ .Release.Namespace }}
spec:
    parentRefs:
        - name: eg
    hostnames:
        - {{ .Values.global.domain.api | quote }}
    rules:
        - backendRefs:
              - group: ""
                kind: Service
                name: {{ .Release.Name }}-api
                port: 80
                weight: 1
          matches:
              - path:
                    type: PathPrefix
                    value: /
---
apiVersion: gateway.networking.k8s.io/v1
kind: GRPCRoute
metadata:
  name: {{ .Release.Name }}-api-grpc
  namespace: {{ .Release.Namespace }}
spec:
  parentRefs:
    - name: eg
  hostnames:
    - {{ .Values.global.domain.api | quote }}
  rules:
    - matches:
        - method:
            service: "proto.*"
            method: ".*"
            type: RegularExpression
        - method:
            service: "proto.registry.v1.RegistryService"
            method: ".*"
            type: RegularExpression
        - method:
            service: "proto.oauth.v1.OAuthService"
            method: ".*"
            type: RegularExpression
      backendRefs:
        - group: ""
          kind: Service
          name: {{ .Release.Name }}-api
          port: 80
          weight: 1
