apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ .Release.Name }}-ui
  namespace: {{ .Release.Namespace }}
spec:
  parentRefs:
    - name: eg
  hostnames:
    - {{ .Values.global.domain.ui | quote }}
  rules:
    - backendRefs:
        - group: ""
          kind: Service
          name: {{ .Release.Name }}-ui
          port: 80
          weight: 1
      matches:
        - path:
            type: PathPrefix
            value: /
