apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
    name: controller-manager-role
rules:
    - apiGroups:
        - ""
      resources:
        - namespaces
      verbs:
        - create
        - delete
        - get
        - list
        - watch
    - apiGroups:
        - ""
      resources:
        - secrets
        - services
      verbs:
        - create
        - get
        - list
        - patch
        - update
        - watch
    - apiGroups:
        - ""
      resources:
        - serviceaccounts
      verbs:
        - create
        - get
        - list
        - watch
    - apiGroups:
        - apps
      resources:
        - deployments
      verbs:
        - create
        - get
        - list
        - patch
        - update
        - watch
    - apiGroups:
        - gateway.networking.k8s.io
      resources:
        - httproutes
      verbs:
        - create
        - get
        - list
        - patch
        - update
        - watch
    - apiGroups:
        - loco.loco.deploy-app.com
      resources:
        - locoresources
      verbs:
        - create
        - delete
        - get
        - list
        - patch
        - update
        - watch
    - apiGroups:
        - loco.loco.deploy-app.com
      resources:
        - locoresources/finalizers
      verbs:
        - update
    - apiGroups:
        - loco.loco.deploy-app.com
      resources:
        - locoresources/status
      verbs:
        - get
        - patch
        - update
    - apiGroups:
        - rbac.authorization.k8s.io
      resources:
        - rolebindings
        - roles
      verbs:
        - create
        - get
        - list
        - patch
        - update
        - watch
