.toggle-btn {
	opacity: 1;
	position: relative;
	border-radius: 5px;
	width: 40px;
	height: 25px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	transition: opacity 0.3s ease 0s;
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
	padding: 0px;
	appearance: none;
}

.div-toggle-btn-dark {
	position: relative;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border: 4px solid var(--theme-ui-colors-toggleIcon, var(--light-text));
	background-color: var(--theme-ui-colors-toggleIcon, var(--light-text));
	transform: scale(0.55);
	transition: all 0.45s ease 0s;
	overflow: visible;
	box-shadow: none;
	color: white;
}

.div-toggle-btn-dark::before {
	content: "";
	position: absolute;
	right: -9px;
	top: -9px;
	height: 24px;
	width: 24px;
	border: 2px solid var(--theme-ui-colors-toggleIcon, var(--light-text));
	border-radius: 50%;
	transform: translate(14px, -14px);
	opacity: 0;
	transition: transform 0.45s ease 0s;
}

.div-toggle-btn-dark::after {
	content: "";
	width: 8px;
	height: 8px;
	border-radius: 50%;
	margin: -4px 0px 0px -4px;
	position: absolute;
	top: 50%;
	left: 50%;
	box-shadow: 0 -23px 0 var(--theme-ui-colors-toggleIcon, var(--light-text)),
		0 23px 0 var(--theme-ui-colors-toggleIcon, var(--light-text)),
		23px 0 0 var(--theme-ui-colors-toggleIcon, var(--light-text)),
		-23px 0 0 var(--theme-ui-colors-toggleIcon, var(--light-text)),
		15px 15px 0 var(--theme-ui-colors-toggleIcon, var(--light-text)),
		-15px 15px 0 var(--theme-ui-colors-toggleIcon, var(--light-text)),
		15px -15px 0 var(--theme-ui-colors-toggleIcon, var(--light-text)),
		-15px -15px 0 var(--theme-ui-colors-toggleIcon, var(--light-text));
	transform: scale(1);
	transition: all 0.35s ease 0s;
	color: white;
}

.div-toggle-btn-light {
	position: relative;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border: none;
	background-color: var(--theme-ui-colors-transparent, transparent);
	transform: scale(1);
	transition: all 0.45s ease 0s;
	overflow: hidden;
	box-shadow: inset 8px -8px 0px 0px var(--theme-ui-colors-toggleIcon, #2d3748);
}

.div-toggle-btn-light::before {
	content: "";
	position: absolute;
	right: -9px;
	top: -9px;
	height: 24px;
	width: 24px;
	border: none;
	border-radius: 50%;
	transform: translate(0px, 0px);
	opacity: 1;
	transition: transform 0.45s ease 0s;
}

.div-toggle-btn-light::after {
	content: "";
	width: 8px;
	height: 8px;
	border-radius: 50%;
	margin: -4px 0px 0px -4px;
	position: absolute;
	top: 50%;
	left: 50%;
	box-shadow: 0 -23px 0 var(--theme-ui-colors-toggleIcon, #2d3748),
		0 23px 0 var(--theme-ui-colors-toggleIcon, #2d3748),
		23px 0 0 var(--theme-ui-colors-toggleIcon, #2d3748),
		-23px 0 0 var(--theme-ui-colors-toggleIcon, #2d3748),
		15px 15px 0 var(--theme-ui-colors-toggleIcon, #2d3748),
		-15px 15px 0 var(--theme-ui-colors-toggleIcon, #2d3748),
		15px -15px 0 var(--theme-ui-colors-toggleIcon, #2d3748),
		-15px -15px 0 var(--theme-ui-colors-toggleIcon, #2d3748);
	transform: scale(0);
	transition: all 0.35s ease 0s;
}
