@import "tailwindcss";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
	--background: oklch(95.38% 0.0357 72.89);
	--secondary-background: oklch(100% 0 0);
	--foreground: oklch(0% 0 0);
	--main-foreground: oklch(0% 0 0);
	--main: oklch(72.27% 0.1894 50.19);
	--border: oklch(0% 0 0);
	--ring: oklch(0% 0 0);
	--overlay: oklch(0% 0 0 / 0.8);
	--shadow: 0px 2px 0px 0px var(--border);
	--chart-1: #e8a000;
	--chart-2: #0099ff;
	--chart-3: #ffbf00;
	--chart-4: #00d696;
	--chart-5: #7a83ff;
	--chart-active-dot: #000;

	/* shadcn/ui colors */
	--radius: 0.625rem;
	--card: oklch(100% 0 0);
	--card-foreground: oklch(0% 0 0);
	--popover: oklch(100% 0 0);
	--popover-foreground: oklch(0% 0 0);
	--primary: oklch(72.27% 0.1894 50.19);
	--primary-foreground: oklch(100% 0 0);
	--secondary: oklch(95.38% 0.0357 72.89);
	--secondary-foreground: oklch(0% 0 0);
	--muted: oklch(95.38% 0.0357 72.89);
	--muted-foreground: oklch(50% 0 0);
	--accent: oklch(95.38% 0.0357 72.89);
	--accent-foreground: oklch(0% 0 0);
	--destructive: #ff0000;
	--input: oklch(95.38% 0.0357 72.89);
	--sidebar: oklch(100% 0 0);
	--sidebar-foreground: oklch(0% 0 0);
	--sidebar-primary: oklch(72.27% 0.1894 50.19);
	--sidebar-primary-foreground: oklch(100% 0 0);
	--sidebar-accent: oklch(95.38% 0.0357 72.89);
	--sidebar-accent-foreground: oklch(0% 0 0);
	--sidebar-border: oklch(0% 0 0);
	--sidebar-ring: oklch(0% 0 0);
}

.dark {
	--background: oklch(26.86% 0.0327 60.06);
	--secondary-background: oklch(23.93% 0 0);
	--foreground: oklch(92.49% 0 0);
	--main-foreground: oklch(0% 0 0);
	--main: oklch(67.56% 0.1796 49.61);
	--border: oklch(0% 0 0);
	--ring: oklch(100% 0 0);
	--shadow: 0px 2px 0px 0px var(--border);
	--chart-1: #d99700;
	--chart-2: #008ae5;
	--chart-3: #e5ac00;
	--chart-4: #00bd84;
	--chart-5: #7a83ff;
	--chart-active-dot: #fff;

	/* shadcn/ui colors */
	--card: oklch(23.93% 0 0);
	--card-foreground: oklch(92.49% 0 0);
	--popover: oklch(23.93% 0 0);
	--popover-foreground: oklch(92.49% 0 0);
	--primary: oklch(67.56% 0.1796 49.61);
	--primary-foreground: oklch(23.93% 0 0);
	--secondary: oklch(26.86% 0.0327 60.06);
	--secondary-foreground: oklch(92.49% 0 0);
	--muted: oklch(26.86% 0.0327 60.06);
	--muted-foreground: oklch(70% 0 0);
	--accent: oklch(26.86% 0.0327 60.06);
	--accent-foreground: oklch(92.49% 0 0);
	--destructive: #ff4444;
	--input: oklch(26.86% 0.0327 60.06);
	--sidebar: oklch(23.93% 0 0);
	--sidebar-foreground: oklch(92.49% 0 0);
	--sidebar-primary: oklch(67.56% 0.1796 49.61);
	--sidebar-primary-foreground: oklch(92.49% 0 0);
	--sidebar-accent: oklch(26.86% 0.0327 60.06);
	--sidebar-accent-foreground: oklch(92.49% 0 0);
	--sidebar-border: oklch(100% 0 0 / 10%);
	--sidebar-ring: oklch(70% 0 0);
}

@theme inline {
	--color-main: var(--main);
	--color-background: var(--background);
	--color-secondary-background: var(--secondary-background);
	--color-foreground: var(--foreground);
	--color-main-foreground: var(--main-foreground);
	--color-border: var(--border);
	--color-overlay: var(--overlay);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);

	--spacing-boxShadowX: 0px;
	--spacing-boxShadowY: 2px;
	--spacing-reverseBoxShadowX: -0px;
	--spacing-reverseBoxShadowY: -2px;
	--radius-base: 5px;
	--shadow-shadow: var(--shadow);
	--font-weight-base: 500;
	--font-weight-heading: 700;

	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-input: var(--input);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply text-foreground font-base bg-background;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-heading;
	}
}
