name: API Tests

on:
  push:
    paths:
      - "api/**"
      - "shared/**"
      - "go.mod"
      - "go.sum"
  pull_request:
    paths:
      - "api/**"
      - "shared/**"
      - "go.mod"
      - "go.sum"

jobs:
  test:
    name: API Unit Tests
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true

      - run: cd api && go test -v -coverprofile=coverage.out ./...
        timeout-minutes: 10

      - run: go tool cover -func=coverage.out
        if: always()
