name: Buf

on:
  workflow_call:
  push:
    paths:
      - "**.proto"
      - "**/buf.yaml"
      - "**/buf.lock"
      - "**/buf.md"
      - "**/README.md"
      - "**/LICENSE"

permissions:
  contents: read
  pull-requests: write

jobs:
  buf:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: bufbuild/buf-action@v1
        with:
          token: ${{ secrets.BUF_TOKEN }}
          breaking: ${{ github.event_name == 'pull_request' && !contains(github.event.head_commit.message, 'BREAK_BUF') }}
          breaking_against_registry: true
