name: CLI Tests

on:
  push:
    paths:
      - "cmd/**"
      - "main.go"
      - "go.mod"
      - "go.sum"
  pull_request:
    paths:
      - "cmd/**"
      - "main.go"
      - "go.mod"
      - "go.sum"

jobs:
  test:
    name: CLI Unit Tests
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true

      - run: go test -v -coverprofile=coverage.out ./cmd/...
        timeout-minutes: 10

      - run: go tool cover -func=coverage.out
        if: always()
