name: Controller Lint

on:
  workflow_call:
  push:
    branches:
      - main
      - staging
    paths:
      - "controller/**"
      - "go.mod"
      - "go.sum"
  pull_request:
    paths:
      - "controller/**"
      - "go.mod"
      - "go.sum"

permissions:
  contents: read
  pull-requests: write

jobs:
  golangci:
    name: Controller Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true

      - uses: reviewdog/action-golangci-lint@v2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          golangci_lint_flags: "--timeout=3m"
          reporter: github-pr-review
          level: warning
