name: Test and Lint

on:
  pull_request:
    branches:
      - main
      - staging
  push:
    branches:
      - main
      - staging
  workflow_call:

jobs:
  test:
    name: Go Tests
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: "1.25"

      - run: go test -v -coverprofile=coverage.out ./...
        timeout-minutes: 10

      - run: go tool cover -func=coverage.out
        if: always()

  lint:
    name: Go Lint
    uses: ./.github/workflows/golangci-lint.yml
    secrets: inherit

  buf:
    name: Buf Lint and Breaking Changes
    uses: ./.github/workflows/buf.yml
    secrets: inherit
    permissions:
      contents: read
      pull-requests: write
